*{
    margin: 0px;
    padding: 0px;
}


.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
}
.container img{
    width: 100%;
}
