/* uninversal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 33px;
  }

  
/* Tag name selector */
/* specific tag  */
p {
    color: rgb(234, 255, 0);
  }
  
  /* Class name selector */
  /* specific class name  */
  .list-item {
    font-weight: bold;
  }
  
  /* ID selector */
  /* specific id   */
  #container {
    list-style-position: inside;
    margin: 0 auto;
    max-width: 960px;
    background-color: gray;
}
  
  /* Attribute selector */
  /* attirbute like input[type:text]  or div[data-color="blue"] ,[data-id="2"] */
  [data-id="2"] {
    background-color: yellow;
  }
  
  /* Pseudo-class selector */
  /* :hover :active :focus */
  .link:hover {
    color: red;
  }
  
  /* Pseudo-element selector */
  /* target specific parts of an element, such as the first letter of a paragraph (::first-letter) or the content after an element (::after). */
  .box::before {
    content: "start box";
  }
  p::first-letter {
    font-size: 44px !important;
  }
  
  /* Descendant selector */
  /* we can trget childs of a parent */
  #container ul li {
    color: green;
  }
  
  /* Adjacent sibling selector */
  /* adjacent sibling selector allows you to target an element that comes immediately after another element */
  .heading + p {
    font-style: italic;
  }
  
  /* General sibling selector */
  /* general sibling selector allows you to target elements that are siblings of another element */
  .list-item ~ .box {
    border: 1px solid black;
  }
  